<h1>Page#welcome</h1>
<p>WELCOME</p>
<p><% @gossip.each do |gossip| %>
   <%= gossip.title %>
        <br/>
       écrit par:  <%= User.find(gossip.user_id).first_name%>
        <br/>
        <%= link_to "voir plus", gossip_id_path(gossip.id),class: 'link-dark' %>
    <%end%>

</p>